<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.medcenterdisplay.anatomyplugin"
        version="0.7.0">

  <name>Anatomy Plugin</name>
  <description>Anatomy plugin.</description>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/anatomyplugin.js" target="js/anatomyplugin.js"/>

  <js-module src="www/anatomyplugin.js" name="anatomyplugin">
    <clobbers target="anatomyplugin" />
  </js-module>


  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="AnatomyPlugin">
        <param name="ios-package" value="AnatomyPlugin" />
      </feature>
    </config-file>

    <header-file src="src/ios/AnatomyPlugin.h"/>
    <source-file src="src/ios/AnatomyPlugin.m"/>
    <header-file src="src/ios/AnatomyViewController.h" />
    <source-file src="src/ios/AnatomyViewController.m" />
    <resource-file src="src/ios/AnatomyViewController.xib" />
    <header-file src="src/ios/Model/AnatomyImage.h" target-dir="Model" />
    <source-file src="src/ios/Model/AnatomyImage.m" target-dir="Model" />
    <header-file src="src/ios/Categories/NSArray+Addition.h" target-dir="Categories" />
    <source-file src="src/ios/Categories/NSArray+Addition.m" target-dir="Categories" />
    <header-file src="src/ios/Categories/NSDictionary+Addition.h" target-dir="Categories" />
    <source-file src="src/ios/Categories/NSDictionary+Addition.m" target-dir="Categories" />
    <header-file src="src/ios/Categories/NSOperationQueue+Completion.h" target-dir="Categories" />
    <source-file src="src/ios/Categories/NSOperationQueue+Completion.m" target-dir="Categories" />
    <header-file src="src/ios/ThirdParty/MBProgressHUD/MBProgressHUD.h" target-dir="ThirdParty/MBProgressHUD" />
    <source-file src="src/ios/ThirdParty/MBProgressHUD/MBProgressHUD.m" target-dir="ThirdParty/MBProgressHUD" />

    <resource-file src="src/ios/Resources/pan_icon.png"  />
    <resource-file src="src/ios/Resources/pan_icon@2x.png"  />
    <resource-file src="src/ios/Resources/pan_icon@3x.png"  />
    <resource-file src="src/ios/Resources/icon_female.png"  />
    <resource-file src="src/ios/Resources/icon_female@2x.png"  />
    <resource-file src="src/ios/Resources/icon_female@3x.png"  />
    <resource-file src="src/ios/Resources/icon_male.png"  />
    <resource-file src="src/ios/Resources/icon_male@2x.png"  />
    <resource-file src="src/ios/Resources/icon_male@3x.png"  />

  </platform>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AnatomyPlugin">
        <param name="android-package" value="plugin.anatomical.AnatomyPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/AnatomyPlugin.java" target-dir="src/plugin/anatomical"/>
    <source-file src="src/android/AnatomyActivity.java" target-dir="src/plugin/anatomical"/>
    <source-file src="src/android/AnatomyImage.java" target-dir="src/plugin/anatomical"/>
    <source-file src="src/android/AnatomyImageDownloader.java" target-dir="src/plugin/anatomical"/>
    <source-file src="src/android/OnImageDownloadListener.java" target-dir="src/plugin/anatomical"/>
    <source-file src="src/android/res/layout/layout_anatomy_activity.xml" target-dir="res/layout" />

    <resource-file src="src/android/res/drawable-mdpi/icon_female.png" target="res/drawable-mdpi/icon_female.png" />
    <resource-file src="src/android/res/drawable-hdpi/icon_female.png" target="res/drawable-hdpi/icon_female.png" />
    <resource-file src="src/android/res/drawable-xhdpi/icon_female.png" target="res/drawable-xhdpi/icon_female.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/icon_female.png" target="res/drawable-xxhdpi/icon_female.png" />

    <resource-file src="src/android/res/drawable-mdpi/icon_male.png" target="res/drawable-mdpi/icon_male.png" />
    <resource-file src="src/android/res/drawable-hdpi/icon_male.png" target="res/drawable-hdpi/icon_male.png" />
    <resource-file src="src/android/res/drawable-xhdpi/icon_male.png" target="res/drawable-xhdpi/icon_male.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/icon_male.png" target="res/drawable-xxhdpi/icon_male.png" />

    <resource-file src="src/android/res/drawable-mdpi/pan_icon.png" target="res/drawable-mdpi/pan_icon.png" />
    <resource-file src="src/android/res/drawable-hdpi/pan_icon.png" target="res/drawable-hdpi/pan_icon.png" />
    <resource-file src="src/android/res/drawable-xhdpi/pan_icon.png" target="res/drawable-xhdpi/pan_icon.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/pan_icon.png" target="res/drawable-xxhdpi/pan_icon.png" />


    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="plugin.anatomical.AnatomyActivity" android:screenOrientation="portrait">
      </activity>
    </config-file>

    <framework src="src/android/anatomyplugin.gradle" custom="true" type="gradleReference" />
  </platform>

</plugin>
