<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.helloplugin"
        version="0.7.0">

  <name>Hello</name>
  <description>Hello plugin.</description>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/hello.js" target="js/hello.js"/>

  <js-module src="www/hello.js" name="hello">
    <clobbers target="hello" />
  </js-module>


  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="Hello">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h"/>
    <source-file src="src/ios/HWPHello.m"/>
    <header-file src="src/ios/AnatomyViewController.h" />
    <source-file src="src/ios/AnatomyViewController.m" />
    <resource-file src="src/ios/AnatomyViewController.xib" />
    <header-file src="src/ios/Model/AnatomyImage.h" target-dir="Model" />
    <source-file src="src/ios/Model/AnatomyImage.m" target-dir="Model" />
    <header-file src="src/ios/Categories/NSArray+Addition.h" target-dir="Categories" />
    <source-file src="src/ios/Categories/NSArray+Addition.m" target-dir="Categories" />
    <header-file src="src/ios/Categories/NSDictionary+Addition.h" target-dir="Categories" />
    <source-file src="src/ios/Categories/NSDictionary+Addition.m" target-dir="Categories" />
    <header-file src="src/ios/Categories/NSOperationQueue+Completion.h" target-dir="Categories" />
    <source-file src="src/ios/Categories/NSOperationQueue+Completion.m" target-dir="Categories" />
    <header-file src="src/ios/ThirdParty/MBProgressHUD/MBProgressHUD.h" target-dir="ThirdParty/MBProgressHUD" />
    <source-file src="src/ios/ThirdParty/MBProgressHUD/MBProgressHUD.m" target-dir="ThirdParty/MBProgressHUD" />

    <resource-file src="src/ios/Resources/newBG-detailPage@2x.png" target-dir="Resources" />
    
  </platform>

</plugin>
